In [1]:
import pandas as pd

In [2]:
col_name_list = ['col_1', 'col_2', 'camis', 'litigation', 'casetype']

In [7]:
for name in col_name_list:
    df[name] = 1
    print(name)

col_1
col_2
camis
litigation
casetype

In [4]:
df = pd.DataFrame()

In [8]:
df.head()

Empty DataFrame
Columns: [col_1, col_2, camis, litigation, casetype]
Index: []

In [9]:
col_name_list_2 = ['another col', 'and yet another', 'and here', 'one more']

for name in col_name_list_2:
    df[name] = 23432098
    
df.head()

Empty DataFrame
Columns: [col_1, col_2, camis, litigation, casetype, another col, and yet another, and here, one more]
Index: []

In [10]:
col_name_list_3 = ['another col', 'and yet another', 'and here', 'one more', 'another col']

for name in col_name_list_2:
    df[name] = 23432098
    
df.head()

Empty DataFrame
Columns: [col_1, col_2, camis, litigation, casetype, another col, and yet another, and here, one more]
Index: []

In [15]:
col_name_list_3 = ['another col', 'and yet another', 'and here', 'one more', 'another col']

for i, name in enumerate(col_name_list_3):
    df[name + '_' + str(i)] = 23432098
    
df.head()

Empty DataFrame
Columns: [col_1, col_2, camis, litigation, casetype, another col, and yet another, and here, one more, another col0, and yet another1, and here2, one more3, another col_0, and yet another_1, and here_2, one more_3, another col_4]
Index: []

In [ ]:
[(0, 'another col'), (1, 'ano yet another'), (2, 'and here')...]